<h2>Songs</h2>
<h3><%= link_to "New Song", new_song_path %></h3>
<ul>
  <% @songs.each do |song| %>
    <li>
      <p>
      <%= link_to song.title, song %> | <%= link_to 'Delete', song_path(song),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>
